#main-container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    background: rgb(44,44,44);
}

#left-panel {
    display: flex;
    flex-direction: column;
    min-width: 265px;
    border-right: #555555 solid 1px;
}

#center-right-panel {
    background: url("../../public/background.png") no-repeat fixed 50% 50%;
    width: 100%;
}

#user-info {
    padding-bottom: 5px;
    border-bottom: #555555 solid 1px;
}

#projects {
    min-height: 20vh;
    border-bottom: #555555 solid 1px;
    color: white;
}

#add-project-button-container {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#add-project-button-container button{
}

#shop {
    min-height: 20vh;
    border-bottom: #555555 solid 1px;
}

#projects-list {
    margin: 0;
    padding: 0 0 0 20px;
    max-height: 270px;
    overflow-y: scroll;
}

#projects-list::-webkit-scrollbar {
    width: 5px;
}

#projects-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#projects-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(120,120,120,0.5);
}

#project-pop-up-dimmed {
    background-color: black;
    opacity: 50%;
    position: fixed;
    width: 100%;
    height: 100%;
}

#project-pop-up {
    position: absolute;
    width: 100%;
    height: 100%;
}

#project-pop-up-form {
    opacity: 100%;
    margin: auto;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#project-pop-up-form-flex {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
}

#project-pop-up-form-flex h2 {
    margin: 0 0 10px;
}

#project-name {
    box-sizing: border-box;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #F2F2F2;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
}

.project-create-button {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

#profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#user-info-container {
    display: flex;
    flex-direction: column;
}

#user-picture-container {
    border-radius: 50%;
}

#user-info-user {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

#user-info-user-background {
    display: flex;
    align-items: center;
}

#user-info-user-background:hover {
    background-color: #555555;
}

#user-info-user h3{
    color: white;
    margin: 0 0 0 5px;
}

#create-close-project {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

#create-close-project h3 {
    margin: auto;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow-down {
    margin-left: 5px;
}

#settings-popup {
    display: flex;
    position: absolute;
    min-width: 250px;
    flex-direction: column;
    background-color: #1c1c1c;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
}

#settings-button {
    width: 100px;
}

#projects h5{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#projects-container {

}

.projects:hover {
    background-color: #555555;
}

.projects h6 {
}

#upper-center-title {
    height: 25%;
}

#components-column {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.components-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.component {
    padding: 10px;
    flex: 0 1 calc(14.28% - 20px);
}

.component-background {
    padding: 10px;
    background-color: #555555;
    border-radius: 10px;
}

.component-img {
    margin: auto;
    background-color: darkblue;
    text-align: center;
    aspect-ratio: 1 / 1;
    height: 70%;
    display: grid;
    border-radius: 8%;
}

.bi {
    margin: auto;
    fill: white;
    width: 70%;
    aspect-ratio: 1/1;
}

.component-text {
    margin-top: 10px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.component-button {
    text-align: right;
}

#upper-center-title {
    display: flex;
}

#component-shop-field {
    background-color: #555555;
    border-radius: 10px;
    display: flex;
    margin: auto;
    flex-direction: row;
    padding: 15px;
}

#component-stop-text-area {
    width: 70%;
    height: 100%;
    color: white;
}

#component-stop-img-area {
    width: 30%;
    height: 100%;
    text-align: center;
}

#component-shop-icon-background {
    display: inline-block;
    background-color: #001E36;
    border-radius: 10px;
}

#component-shop-icon {
    fill: #3A89FF;
}

#other-field {
    color: white;
}

#other-field h5 {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#component-shop-button {
    padding: 2px 2px 7px 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#component-shop-button:hover {
    background-color: #555555;
}

#component-shop-button.active {
    background-color: #555555;
}

#component-shop-button h6 {
    margin: 0.25rem 0 0 0.5rem;
}