#google-login-button-html {
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 0.5vw;
    font-size: 1.5vw;
}

#google-button {
    height: 10%;
}

.login-field {
    text-align: center;
    position: absolute;
    background-color: white;
    width: 25%;
    height: 70%;
    border-radius: 2vw;
}

.login-field h1 {
    margin-top: 3vw;
    font-size: 3vw;
}

.login-field h3 {
    font-weight: normal;
    font-size: 1vw;
}

#register-button {
    font-weight: bold;
    text-decoration: underline black;
}

.login-form-input {
    margin-bottom: 1vw;
    border: none;
    border-radius: 0.5vw;
    background-color: #F2F2F2;
    width: 90%;
    height: 28%;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
}

#login-input {
    display: flex;
    height: 30%;
}

#login-input form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#login-input form button{
    width: 100%;
    height: 30%;
    border: none;
    border-radius: 0.5vw;
    background-color: black;
    color: white;
    font-size: 1vw;
    margin-bottom: 1vw;
}