#google-button {
    display: flex;
    margin: auto;
}

#login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#login-field {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 450px;
    height: 100%;
}

#login-background {
    padding: 2vw;
    width: 100%;
    background: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 2vw;
}

#login-background h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

#login-background h3 {
    margin: 0;
    font-weight: normal;
    font-size: 13px;
}

#register-button {
    font-weight: bold;
    text-decoration: underline black;
}

#login-input form {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.login-form-input {
    box-sizing: border-box;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #F2F2F2;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
}

#login-input {
    display: flex;
    padding: 1vw;
}

#login-input form button{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}