#main-project-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#main-project-container-background {
    background-color: rgb(44,44,44);
    width: 100%;
    height: 100%;
}

#project-content {
    width: 100%;
    height: 100%;
}

#upper-project-menu {
    display: flex;
    width: 100%;
    height: 25px;
    gap: 10px;
    align-items: center;
    padding-left: 35px;
    background-color: #555555;
}

#under-project-menu {
    width: 100%;
    height: 100%;
    display: flex;
}

#left-project-menu {
    height: 100%;
    width: 35px;
    background-color: #555555;
    display: flex;
    flex-direction: column;
}

#main-project-menu {
    width: 100%;
    height: 100%;
    display: flex;
}

#project-canvas{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    background-color: white;
    width: 57vh;
    height: 80vh;
    margin: auto;
}

#project-right-options {
    height: 100%;
    width: 20%;
}

.upper-menu-button {
    font-size: 13px;
    color: white;
    background-color: #555555;
    border: 0;
    border-radius: 2px;
    height: 80%;
}

.upper-menu-button:hover {
    background-color: #444444;
}

.left-menu-button {
    padding: 5px;
    font-size: 13px;
    color: white;
    background-color: #555555;
    border: 0;
    border-radius: 2px;
}

.left-menu-button:hover {
    background-color: #444444;
}

.canvas-image-container {
    display: flex;
    left: 0;
    top: 0;
    cursor: pointer;
    position: relative;
}

.canvas-image {
}

.color-palette-button {
    padding: 5px;
    background-color: red;
}

#right-drawing-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

.single-thumb .range-slider__thumb[data-lower] {
    width: 0;
}

.single-thumb .range-slider__range {
    border-radius: 6px;
}

#stroke-slider {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

#stroke-input-wrapper {
    display: flex;
    align-items: center;
}

#stroke-input {
    width: 25%;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 4px;
}