#container-background {
  background: url("../public/background.png") no-repeat fixed 50% 50%;
  width: 100%;
  height: 100vh;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
