#container-background {
  background: #1c1c1c;
}

#container-background-photo {
  background: url("../public/background.png") no-repeat fixed 50% 50%;
  min-width: 100vw;
  min-height: 100vh;
}

#container {
  min-width: 100vw;
  min-height: 100vh;
}
